<!DOCTYPE HTML>
<html>
<head>

<title>Aling Nena</title>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='/css/customer.css' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="banner">
<div id="top">
<a href="/"><IMG SRC="/banner_top.jpg" /></a>
</div>
<div id="middle"><div id="nav">
<a href="/about">ABOUT</a> &#10008; <a href="/products">PRODUCTS LIST</a></div></div>
<div id="bottom">
<a href="/"><IMG SRC="/banner_bottom.jpg" /></a>
</div>
</div>

<div id="container">
      <p>Long ago, the sari-sari stores lived together in harmony. Then, evverything changed when SM attacked. Only Aling Nena, master of all sari-sari store products could stand against them; but when the world needed her most, her software developer vanished.
      </p>
    <br/>
    <div id="hr"></div>
    <h1>ABOUT <a href="/" id="home_x" title="HOME">&#10008;</a></h1>
</div>
  </body>
</html>
