<!DOCTYPE HTML>
<html>
<head>

<title>Aling Nena</title>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='/css/customer.css' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="banner">
<div id="top">
<a href="/"><IMG SRC="/banner_top.jpg" /></a>
</div>
<div id="middle"><div id="nav">
<a href="/about">ABOUT</a> <a href="/" id="home_x" title="HOME">&#10008;</a> <a href="/products">PRODUCTS LIST</a></div></div>
<div id="bottom">
<a href="/"><IMG SRC="/banner_bottom.jpg" /></a>
</div>
</div>
<span id="hover">HOVER FOR LINKS</span>

<div id="container">
      <p>Nobody knows exactly when Aling Nena's sari-sari store first came to be. Even back then, sari-sari stores were a dime a dozen, so a new one cropping up wasn't enough to warrant attention, especially not one with a name as mundane as Aling Nena's sari-sari store. </p>

      <p>When the store <em>did</em> begin to get noticed some 70 years ago, it was because of the odd people stopping by her store. A number of foreigners come and go, not frequently, but enough to pique people's curiosities, especially after that one time an intimidating man &ndash; wearing a mask that covered the lower half of his face and clad in all black save for the bright red star on his&mdash; is that a <em>metal arm?</em> &ndash; was seen leaving with a nondescript plastic bag clutched tightly in his hand.</p>

      <p>After that incident, people started noticing the strange things that can be bought in Aling Nena's store. Rumor is that Aling Nena can get you anything. Customers come in from all over the world, claiming that this quaint little store is the only place they can get what they want for a reasonable price. Of course, why someone would need ten lock-picking sets is entirely the customers' businesses, and Aling Nena is content with leaving transactions on a need-to-know basis. Her discretion is another reason why these decidedly non-law-abiding customers continue to choose her store for all their go-to needs.</p>

      <p>Today, Aling Nena's sari-sari store is still going strong. The current owner, Aling Nena (for every owner the store ever had has been known as Aling Nena. Whether that was really her name was unknown), has expanded to the Internet, which grants her more high-profile, international clients easier access to her goods and services (and shipping is free after a certain price!). Although, many of her customers still opt to personally drop by her store.</p>

      <p>So if one day you visit the store and happen to notice a man buying hair conditioner beside you, a man who looks remarkably like the demigod who tried to take over New York a few years back through monsters and magic... Well, just be glad he isn't there to brainwash you.</p>
    <br/>
    <div id="hr"></div>
    <h1>ABOUT <a href="/" id="home_x" title="HOME">&#10008;</a></h1>
</div>
  </body>
</html>
