
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Buy Product: <%= @product.name %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="/css/customer.css" rel="stylesheet">
  </head>

  <body>
    <center>
    <div id="container_large">
        
        <form role="form" method="POST" action="/purchased/<%= @product.id %>">
          <h1><%="Buy #{@product.name} (#{@product.price} per unit)" %></h1>
          <form id="form" role="form">
            <label for="quantity"><h2>How many are you buying?</h2></label>
            <input type="text" id="qty" name="to_buy" placeholder="Input a number no greater than <%= @product.quantity %>">
            <br/>
            <table>
            <thead><h2>Select denominations for payment:</h2></thead>
            <tbody>
            <tr>
              <td><label for="ones" class="col-sm-2 control-label"><IMG SRC="/1.gif" class="pay_coins"/></label></td>
              <td><input type="text" class="form-control" name="ones" placeholder=""></td>
            </tr>
            <tr>
              <td><label for="fives" class="col-sm-2 control-label"><IMG SRC="/5.png" class="pay_coins"/></label></td>
              <td><input type="text" class="form-control" name="fives" placeholder=""></td>
            </tr>
            <tr>
              <td><label for="tens" class="col-sm-2 control-label"><IMG SRC="/10.png" class="pay_coins"/></label></td>
              <td><input type="text" class="form-control" name="tens" placeholder=""></td>
            </tr>
            <tr>
              <td><label for="twenties" class="col-sm-2 control-label"><IMG SRC="/20.jpg" class="pay_bills"/></label></td>
              <td><input type="text" class="form-control" name="twenties" placeholder=""></td>
            </tr>
            <tr>
              <td><label for="fifties" class="col-sm-2 control-label"><IMG SRC="/50.jpg" class="pay_bills"/></label></td>
              <td><input type="text" class="form-control" name="fifties" placeholder=""></td>
            </tr>
            <tr>
              <td><label for="hundreds" class="col-sm-2 control-label"><IMG SRC="/100.jpg" class="pay_bills"/></label></td>
              <td><input type="text" class="form-control" name="hundreds" placeholder=""></td>
            </tr>
            <tr>
              <td><label for="five_hundreds" class="col-sm-2 control-label"><IMG SRC="/500.jpg" class="pay_bills"/></label></td>
              <td><input type="text" class="form-control" name="five_hundreds" placeholder=""></td>
            </tr>
            <tr>
              <td><label for="thousands" class="col-sm-2 control-label"><IMG SRC="/1000.jpg" class="pay_bills"/></label></td>
              <td><input type="text" class="form-control" name="thousands" placeholder=""></td>
            </tr>
            </tbody>
            </table>
            <button type="submit" value="submit" class="button">Buy</button>
        </form>
        <div id="hr"></div>
    <h1>PURCHASE ITEM <a href="/" id="home_x" title="HOME">&#10008;</a></h1>
  </div>
    </center>

  </body>
</html>
