<!DOCTYPE HTML>
<html>
<head>

<title>Aling Nena</title>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='/css/customer.css' rel='stylesheet' type='text/css'>

</head>

<body>
<center>
<div id="container_large">
    <h1 id="error">ERROR</h1>
      <p>lol u did a bad thing
        <br/>(<%= @message %>)
      </p>

      <a href="/products">Back to All Products</a>
</div>
</center>
</body>

</html>
