<!DOCTYPE HTML>
<html>
<head>

<title>Aling Nena</title>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='/css/customer.css' rel='stylesheet' type='text/css'>

</head>

<body>
<center>
<div id="container_large">
    <h1 id="error">ERROR</h1>
      <p>Something went wrong.
        <br/>(<%= @message %>)
      </p>
      <br/>
      <p>
      <a href="/products">&#8592; Back to All Products</a> &nbsp; <a href="/" id="home_x" title="HOME">&#10008;</a>
    </p>
</div>
</center>
</body>

</html>
