<!DOCTYPE HTML>
<html>
<head>

<title>Aling Nena</title>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='/css/customer.css' rel='stylesheet' type='text/css'>

</head>

<body>

<div id="banner">
<div id="top">
<a href="/"><IMG SRC="/banner_top.jpg"/></a>
</div>
<div id="middle"><div id="nav">
<a href="/about">ABOUT</a> <a href="/" id="home_x" title="HOME">&#10008;</a> <a href="/products">PRODUCTS LIST</a></div></div>
<div id="bottom">
<a href="/"><IMG SRC="/banner_bottom.jpg" /></a>
</div>
</div>
<span id="hover">HOVER FOR LINKS</span>

<div id="container">
    <% @rand_products.each do |product| %>
    <div class = "product_case"><div class="product_name"><%= product.name %> (₱<%= product.price %>)</div><a href="/purchase/<%= product.id %>"><div class = "purchase">BUY</a></div></div>
    <% end %>
    <br/>
    <p align="right"><a href="/products">VIEW ALL PRODUCTS&#8594;</a></p>      
</div>

<div id="credit"><a href="http://primrosetylers.tumblr.com">&#10008;</a></div>
</body>

</html>